<p>
<% if (@movie != nil) %>
<div id="box">
<h1>Movie posters</h1>
    <p>
      <h2><%= @movie['Title'] %> (<%= @movie['Year'] %>)</h2>

      <img src="<%= @movie['Poster'] %>">
    </p>
    <h3>Starring:</h3>
    <p>
      <%= @movie['Actors'] %>
    </p>
  </div>
<% end %>
</p>
