<form action="/ninjas" methood="post">
	
<label for="title">Name:</label><br>
<input type="text" id="title" name="title"><br>
<label for="description">Start your Blog:</label><br>
<textarea type="text" id="description" name="description" placeholder="Ninja it up!!">
</textarea><br>
<label for="address">Address:</label><br>
  <input type="text" name="address" placeholder=" Post your location">
  <br>
  <br>
  <br>

<button>Add This Ninja!</button>


</form>	


