<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="container">
      <div id="input">
        <header>
          <h1>MTA</h1>
        </header>
        <nav>
          <a href="#">Request</a>
          <a href="#">Home</a>
          <a href="#">About</a>
        </nav>
        <%= yield %>
    </div>
  </body>
</html>