<div class="icon">
  <a href="/videos/category/1" title="Asking"><img src="http://i.imgur.com/wrfO4yN.png?1"></a>
  <a href="/videos/category/2" title='Laughing'><img src="http://i.imgur.com/yVqJGYe.png?1"></a>
  <a href="/videos/category/3" title='Listening'><img src="http://i.imgur.com/JrNvsZM.png?1"></a>
  <a href="/videos/category/4" title="Studying" id="studying"><img src="http://i.imgur.com/Tailx68.png?1"></a>
  <a href="/videos/category/5" title='Watching'><img src="http://i.imgur.com/t7kgrxn.png?1"></a>

</div>
<h1>What Do You Feel Like ?</h1>