

<h3> Enter Movie Title! </h3>
<form action = '/' method ="get">
  <input name = "title" placeholder = "Enter Movie Title here...">
  <button>Search</button>
</form>

<p>
<% if @title %>
  Title: <%= @title.capitalize %><br>br>
  <img src="<%= @poster %>">
  <% end %>
</p>