<form action="/plants" method="post">
  <label for="name">Name of Plant:</label>
  <input type="text" name="name" id="name">
  <label for="image">Image URL:</label>
  <input type="URL" name="image" id="image">
  <button type="submit">Add new Plants</button>
</form>