<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/section.css">
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/"><img id ="logo" src="../img/logo.png" alt="logo"></a>
      <ul>
        <li><a href="/">Home</a> | </li>
        <li><a href="http://www.mta.info/nyct">MTA</a> | </li>
        <li><a href="#">Saved Trips</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <%= yield%>
    </div>
    <footer>
      <p>
        Copyright &copy; 2014
        <br>
        By Fai Weiner for WDI5
      </p>
    </footer>
  </div>
</body>
</html>