<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="container">
    <h1>logspot</h1>
    <%= yield %>

  </div>
</body>
