<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTA 2.0</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <h1>Metropolitan Transportation Authority</h1>

  <%= yield %>
</body>
</html>