index
<h2>Do you have a test for that?</h2>
<a href="/yay">Yay</a>
<a href="/nay">Nay</a>

nay
<h2>Write a test.</h2>
<a href="/yay">Okie Dokie</a>

yay
<h2>Does the test pass?</h2>
<a href="/yayyay">Yay</a>
<a href="/yaynay">Nay</a>

yaynay
<h2>Write just enough code for the test to pass.</h2>
<a href="/yay">Okie Dokie</a>

yayyay
<h2>Need to refactor?</h2>
<a href="/yayyayyay">Yay</a>
<a href="/yayyaynay">Nay</a>

yayyayyay
<h2>Refactor the code</h2>
<a href="/yay">Okie Dokie</a>

yayyaynay
<h2>Select a new feature to implement</h2>
<a href="/">Okie Dokie</a>
