<h1>Receipt For Goods/Services</h1>

<form action="/receipts/<%= @receipt['id'] %>" method="post">
  <label for="service">Service Provided:</label>
  <input type="text" id="service" value="<%= @receipt['service'] %>" name="service">

  <label for="cost">Cost:</label>
  <input type="text" id="cost" name="cost" value="<%= @receipt['cost'] %>" placeholder="0.00">

  <input type="submit" value="Update receipt">
</form>
