<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receipts</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/new">New</a>
    <a href="/stats">Stats</a>
  </nav>
  <%= yield %>
</body>
</html>