<h1>Receipt Stats</h1>

<table>
  <thead>
    <tr>
      <td>Statistic</td>
      <td>Value</td>
    </tr>
  </thead>
<tbody>
  <tr>
    <td>Max Cost</td>
    <td><%= @max %>
</td>
  </tr>
  <tr>
    <td>Min Cost</td>
    <td><%= @min %>
</td>
  </tr>
  <tr>
    <td>Average Cost</td>
    <td><%= @avg %>
</td>
  </tr>
  <tr>
    <td>No. Receipts</td>
    <td><%= @count %></td>
  </tr>
</tbody>
</table>
