<h1>My WDI-5 Exercises</h1>
<h4>Search engines built with Ruby on Rails</h4>

<div id="movies-pass">
  <a href="/movies" class="nav-link">Search Movies</a>
</div>

<div id="stocks-pass">
  <a href="/stocks" class="nav-link">Search Stocks</a>
</div>