<form action="/fetch" method="get">
  <input type="text" name="symbol" placeholder="Symbol">
  <button>Get stock!</button>
</form>

<% if @symbol != nil %>

<p>
  The last trading price of <%= @symbol%> is $<%= @price %>.
</p>

<% end %>
