<form action="/info" method="get">
<div id="map">
<a href = "http://i.imgur.com/cHilVTI.gif" title = "Click, to enlarge the image" target="_blank"><img src = "http://i.imgur.com/A2OXtCT.gif"/>
</div>
</form>