<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> MTA </title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet" type="text/css">

</head>

  <body>
    <div id="link">
    <a href="http://imgur.com/joEeIbn"><img src="http://i.imgur.com/joEeIbn.png" title="www.twitter.com"/></a><a href="http://imgur.com/bhp9CfV"><img src="http://i.imgur.com/bhp9CfV.png" title="Hosted by imgur.com"/></a><a href="http://imgur.com/nIusK1C"><img src="http://i.imgur.com/nIusK1C.png" title="www.facebook.com"/></a>
   </div>

    <h1>Trip Planner</h1>
    <div id="logo">
    <a href="/"><img src="http://i.imgur.com/FKmGezn.png?1" title="Main"/></a><a href="http://www.sydneytrains.info/timetables/#landingPoint" target="_blank"><img src="http://i.imgur.com/Usf1RDg.png?1" title="Time Table"/></a><a href="/info"><img src="http://i.imgur.com/vbE14rG.png?1" title="Infomation" id = "info"/></a>
    </div>
    <nav>
    <a href="/">Train Stop Calculator</a>
    </nav>
    <div id='container'>
      <%= yield %>
    </div>
  </body>
</html>

