<form action="/result_1" method="get">
<input name="title" placeholder =" Enter The Movie Title, Please">
<button> Search! </button>
</form>
<!--
<input type='text' name ='first' placeholder='red'>
 -->
<form action="/result" method="get">
<input name="title" placeholder =" Quick Searching - Type Title!">
<button> Quick! </button>
</form>


<!--
require 'pry'
require 'sinatra'
require 'sinatra/reloader'
require 'httparty'

get '/' do
  "Movie"
  erb :form
end

get '/result_1' do
  @title = params[:title]
  @title.gsub!(/ /,"+")
  # @id = params[:imdbID]
  url = "http://omdbapi.com/?s=#{ @title }"
  response = HTTParty.get(url)
  @movie = JSON.parse response # JSON method: making them for ruby to read(hash, array..)

  erb :result_1

# if @movie ['Search'] == nil
# redirect to

end

get '/movielist' do
  @imdbid = params[:imdbid]
  #@title.gsub!(/ /,"+")
  url = "http://omdbapi.com/?i=#{ @imdbid }"
  response = HTTParty.get(url)
  @searched_movie = JSON.parse response
  @title = @searched_movie['Title']
  @year = @searched_movie['Year']
  @director = @searched_movie['Director']
  @poster = @searched_movie['Poster']
  @award = @searched_movie['Awards']
  @plot = @searched_movie['Plot']

  erb :movielist
end

get '/result' do
  @title = params[:title]
  @title.gsub!(/ /,"+")
  url = "http://omdbapi.com/?t=#{ @title }"
  response = HTTParty.get(url)
  @movie = JSON.parse response # JSON method
  @title = @movie['Title']
  @id = @movie['imdbID']
  @year = @movie['Year']
  @director = @movie['Director']
  @poster = @movie['Poster']
  @award = @movie['Awards']
  @plot = @movie['Plot']

  erb :result

end
 -->

