<form action="/videos" method="post">

  <label for="title">Title: </label>
  <input type="text" id="title" name="title">

  <label for="description">Description: </label>
  <input type="text" id="description" name="description">

  <label for="url">Video URL</label>
  <input type="url" id="url" name="url">

  <label for="genre">Genre: </label>
  <input type="text" id="genre" name="genre">

  <label for="description">Description
  <textarea id="description" name="description" rows= "5" placeholder="Tell everyone about the video here!">This is a video about  </textarea>
  </label>


  <button>Create a new video!</button>
</form>