<div class="inputs">
  <form action="/bloggle" method="post">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title">

    <label for="description">Description: </label>
    <textarea type="comment" id="description" name="description" placeholder="What do you want to say?"></textarea>

    <button type="submit">Add!</button>
  </form>
</div>
