<div class="inner-container">
  <div class="header">
    <h1>Stock Search</h1>
    <h4>Find the latest stock price.</h4>
  </div>
  <form action="/stocks/display" method="get">
    <input type="text" name="symbol" placeholder="<%= params[:symbol] %>">
    <button>Get new stock price.</button>
  </form>
  <div class="explanation">
    <p>
      The last trading price of <%= @symbol%> is $<%= @price %>.
    </p>
  </div>
</div>