
<div id="icons">
  <a href='/movie/search' title="Movie Searching" id="movie_icon"><img src="http://i.imgur.com/BpOVHDL.png?1"/></a>
  <a href='/stock/search' title="Stock Searching" id="stock_icon"><img src="http://i.imgur.com/JYwKtK1.png?1"/></a>
</div>


<h1>What Would you like ?</h1>