<h2>Search results</h2>

<% if params[:search] != "" %>
<h3>You searched for "<%= params[:search] %>" for the following <%= @results.length %> results:</h3>

<ul>
  <% @results.each do |result| %>
    <li>
      <%= link_to(result.name, result) if result.methods.include? :name %>
      <%= link_to(result.title, result) if result.methods.include? :title %>
    </li>
  <% end %>
</ul>
<% else %>
  <h3>You didn't enter anything! Please try again.</h3>

<% end %>