#best{
  width: 400px;
}

.a_img{
  max-width: 30em;
  margin-left: 30px;
}

#a_info{
  margin-left: 30px;
}
.small_img{
  max-width: 7em;
  margin: 15px;

}
#a_info, .authors_book{
  display: inline-block;
  vertical-align: center;
}

.authors_book{
  margin-left: 250px;
}

.list_img{
  max-width: 190px;
}
.abook_each{
  display: inline-block;
}

.book_each{
  max-width: 500px;
  display: inline-block;
  margin: 10px;
}

.abook_each, .book_each a{
  font-size: 20px;
  color: #E6E6B8;
}

.abook_each, .book_each a:hover{
   color: #FFE680;
}

#list_icon, .book_list{
  display: inline-block;
  vertical-align: top;
}

.book_list{
  max-width: 450px;
  margin-left: 200px;
}

#show_img, .book_info{
  display: inline-block;
}

.book_info{
  max-width: 400px;
  margin-left:30%;
}

.option a, .book_info a{
  font-size: 20px;
  color: #E6E6B8;
}

.option a, .book_info a:hover{
  color: #FFE680;
}

#show_img{
  width: 300px;
  margin-left: 100px;
}

h3{
  font-size: 40px;
}