<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav>
      <a href="/"><b>Movie</b></a>
    </nav>

    <h1>Movie Posters</h1>
    <%= yield %>
  </body>
</html>