#container {
  max-width: 960px;
  margin: auto;
}

.thumb {
  width: 15em;
  height: 20em;
}

.medium {
  max-width: 50em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: black;
  text-decoration: none;
}

label {
  min-width: 100px;
  display: inline-block;
  text-align: right;
}
.box {
  width: 15em;
  height: 23em;
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0.5em;
}