
<section id="top">
<form action="/movies">
    <input type="submit" value="MOVIES">
</form>
</section>
<section id="bottom">
<form action="/stocks">
    <input type="submit" value="STOCK">
</form>
</section>
