<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  </head>

  <body>
  <div class="container">
  <header>
    <h1><a href="/">Tripster</a></h1>
  </header>
  <div class="text">
      <h2>NYC MTA</h2>
    </div>
    <%= yield %>

  </body>
</html>