<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Memetube</title>
</head>
<body>
  <section class="container">
    <header>
      <h1><a href="/memetube">Memetube</a></h1>
      <nav>
        <a href="/memetube/new">New Video</a>
      </nav>
    </header>

    <%= yield %>
  </section>
</body>
</html>