<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="inner-container">
      <header>
        <h1>Movie Posters</h1>
        <h4>Search your heart out.</h4>
      </header>
      <nav>
        <ul>
          <li><a href="/fetch">Home</a></li>
          <li><a href="http://omdbapi.com/"></a>OMDB</li>
          <li><a href="http://www.imdb.com/"></a>IMDB</li>
          <li><a href="#">Trivia</a></li>
        </ul>
      </nav>
      <div class="form">
        <form action="/fetch" method="get">
          <span>Enter Movie</span>
          <input type="text" name="Title" placeholder="Title">
          <button>Get movie poster</button>
        </form>
      </div>
      <div class="main-search">
        <div class="results">
          <%= yield %>
        </div>
        <div class="lorem">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, modi, vero, officiis iste commodi deserunt unde culpa eveniet facere minima aspernatur voluptate officia repudiandae expedita eius ipsum voluptatibus. Maxime, rem.</p>
        </div>
      </div>
    </div> 
</body>
</html>