<div class="inner-container">
  <div class="header">
    <h1>Movie Poster</h1>
    <h4>Search for your favorite movie posters using OMDB's extensive movie database.</h4>
  </div>
  <div class="form">
    <form action="/movies/search" method="get">
      <span>Enter Movie</span>
      <input type="text" name="Title" placeholder="Title">
      <button>Get movie poster</button>
    </form>
  </div>
  <div class="explanation">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, modi, vero, officiis iste commodi deserunt unde culpa eveniet facere minima aspernatur voluptate officia repudiandae expedita eius ipsum voluptatibus. Maxime, rem.</p>
  </div>
</div> 