body{
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

#container{
  max-width: 960px;
  margin: 0 auto;
}
section{
  display: block;
}
#logo{
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
#press_logos{
  padding-left: 2px;
}
.press_logo{
  padding: 1px;
  border:5.5px solid #CCCCCC;
}
time, a{
  color: #69A9D5;
  text-decoration: none;
}
a:hover{
  color: #20222a
  }

