<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTA</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<div id="outer_container">
  <header>
    <div id="home">
      <h1>
        <a href="/">Trip View</a>
      </h1>
    </div>
  </header>
  <body>
    <div id="yield">
      <%= yield %>
    </div>
  </body>
</div>
</html>

