<div class ='user_lists'>
  <table>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %> <em>(<%= user.dob %>)</em> </td>
        <td><%= image_tag(user.image) if user.image %> </td>
        <td><%= link_to("Delete", user_path(user.id), :data => { :confirm => 'Are you sure you want to delete this?', :method => :delete }) %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>