<form action="/memetube" method="post">
  <label for="title">Title:
    <input type="text" id="title" name="title">
  </label>

  <label for="description">Description:
    <textarea type="text" id="description" name="description">
    </textarea>
  </label>

  <label for="url">Url:
    <input type="text" id="url" name="url">
  </label>

  <label for="genre">Genre:
    <input type="text" id="genre" name="genre">
  </label>
  <button>Upload</button>
</form>