
<img src='http://i.imgur.com/wDqLfe5.jpg' id='logo_left'/>
<div class='logo'>
<a href='/books'><img src='http://i.imgur.com/HVC0APM.png' title='to view classic books'/></a>
<h4>VINTAGE BOOK KEEPER</h4>
</div>