<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Memetube</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div id="container">

    <nav>
      <div id="menu_button1">
        <a href="/memetube">All Videos</a>
      </div>
      <div id="menu_button2">
        <a href="/memetube/new">New Video</a>
      </div>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
