<div class="inputs">
  <form action="/memetube" method="post">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title">

    <label for="description">Description: </label>
    <input type="text" id="description" name="description">

    <label for="url">URL: </label>
    <input type="url" id="url" name="url">

    <label for="rating">Rating: </label>
    <select name="rating" id="rating">
      <% %w{1star 2star 3star 4star 5star}.each do |rating| %>
        <option><%= rating %></option>
      <% end %>
    </select>

    <button type="submit">Add!</button>
  </form>
</div>
