nav {
  text-align: center;
  font-family: serif;
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(127, 117, 94, 0.3);
  border-radius: 2px;
  max-width: 700px;
  margin-left: 23%;
  margin-right: 23%;
}

nav ul {
  display: inline-block;
}

nav li, a{
  color: white;
  margin: 5px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  display: inline;
}

nav .blank{
  margin-right: 400px;
}

.col-md-12 > div{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

