<section class="search">
  <form action= "/" method = "get">
    <input name = "title" placeholder = "Movie Title">

    <button>Find Movie!</button>
  </form>
</section>

<% if @movie%>
  <section class="results">
    <h2>"<%= @title.gsub('+',' ') %>" results:</h2>
    <% @movie['Search'].each do |movie| %>
      <p>
          <% id = movie['imdbID']%>
          <a href= <%= "/movie/#{id}"%>>
          <%=movie['Title']%> (<%=movie['Year']%>)
        </a>
      </p>

    <% end %>
  </section>
<% end %>

<% if @title == nil %>
  <section class="results">
    <h2 class="home">"Inspiring Quote"</h2>
  </section>
<% end %>

</div>

