<section class="movie">
  <form action= "/lookup" method = "get">
    <input type="text" name = "title" required placeholder = "Movie Title">

    <button>Find Movie!</button>
  </form>

</section>



