<section class="movie">
  <form action= "/lookup" method = "get">
    <input type="text" name = "title" required placeholder = "Movie Title">

    <button>Find Movie!</button>
  </form>

  <section class="results">
<h2>"<%= @title.gsub('+', ' ') %>": is an invalid movie title</h2>
<p>Please make sure you have correctly spelt the movie title!</p>
</section>
</section>

