  <form action="/fetch" method="get">
    <input name="title" placeholder="Movie Title">
    <button>Submit!</button>
  </form>
  <p><%= @source if @source %><p>
</div>
<% if @title != nil %>
<div id="poster-select">
<%   @poster_hash.each do |title,poster_url|%>
  <a href=<%="/poster?title=#{title}"%>><img src="<%= poster_url %>" alt="<%= title %>"></a>
<%   end %>
</div>
<% end %>
