<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="container">
      <div id="input">
        <header>
          <h1>SMDB</h1>
          <h4>Shitty Movie Database</h4>
        </header>
        <nav>
          <a href="/request">Request</a>
          <a href="/">Home</a>
          <a href="/about">About</a>
        </nav>
        <%= yield %>
    </div>
  </body>
</html>