<form action="/mountains" method="post">
  <p>Name: <input type="text" name="mountain[name]" autofocus></p>
  <p>Location: <input type="text" name="mountain[location]"></p>
  <p>Elevation: <input type="number" name="mountain[elevation]"></p>
  <p>Range: <input type="text" name="mountain[range]"></p>
  <p>Year First Climbed: <input type="number" name="mountain[first]"></p>
  <p>Image: <input type="url" name="mountain[image]"></p>
  <p><button>Mountain Up</button></p>
</form>