<div id="container">
  <h1>Do you have a test for that?</h1>
  <div id="buttons">
    <div id="yes">
      <a href="/pass">Yes</a>
    </div>
    <div id="no">
      <a href="/write_test">No</a>
    </div>
  </div>
  <div id="inspiration">
    <a href="/beck">(<span>inspiration</span>)</a>
  </div>
</div>

