<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pair Programming Bot</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="container">
    <div id="main">

      <div id="yield">
        <%= yield %>
      </div>

    </div>
  </div>
</body>
</html>

