<div id="container">
  <h1>Does the test pass?</h1>
  <div id="buttons">
    <div id="yes">
      <a href="/refactor">Yes</a>
    </div>
    <div id="no">
      <a href="/write_code">No</a>
    </div>
  </div>
</div>

