<div id="container">
  <h1>Need to refactor?</h1>
  <div id="buttons">
    <div id="yes">
      <a href="/do_refactor">Yes</a>
    </div>
    <div id="no">
      <a href="/new_feature">No</a>
    </div>
  </div>
</div>

