<h1>Gotta test for that?</h1>
<form action="/pass" method="get">
  <button value="yes"type="submit" id="button">yep!</button>
</form>
<form action="/write_test" method="get">
  <button value="no" type="submit" id="button">nope!</button>
</form>




