<h1>Does yo' test pass?</h1>
<form action="/refactor" method="get">
  <button value="yes"type="submit" id="button">yep!</button>
</form>
<form action="/write_code" method="get">
  <button value="no" type="submit" id="button">nope!</button>
</form>