<h1>Does this bitty need to be refactored?</h1>
<form action="/do_refactor" method="get">
  <button value="yes"type="submit" id="button">yesp!</button>
</form>
<form action="/new_feature" method="get">
  <button value="no" type="submit" id="button">nope!</button>
</form>