<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fai's Fav YouTubes</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
    <h1>Favs</h1>
    </header>
    <nav>
      <div class="clicker"><a href="/youtube">Home</a></div>
      <div class="clicker"><a href="/youtube/new">Add New</a></div>
    </nav>
    <div id="container">
      
      <%= yield %>

    </div>
  </body>

</html>