
%p
%strong Hi there
%strong= Song.all.first.title

%h2= @starring
%span= 2+7

%span= Artist.first.name

%strong{:class => "code", :id => "message"} Hello, World!

%strong.code#message Hello, World!

.content Hello, World!

%ul
  %li This
  %li is
  %li the
  %li best
  %li