<h1>Does that pass?</h1>

<form action="/does_that_pass" method="get">
  <button type="submit" name="choice" id="yes_button" value="yes">YES</button>
  <button type="submit" name="choice" id="no_button" value="no">NO</button>
</form>