<h1>Need to refactor?</h1>

<form action="/need_to_refactor" method="get">
  <button type="submit" name="choice" id="yes_button" value="yes">YES</button>
  <button type="submit" name="choice" id="no_button" value="no">NO</button>
</form>