<h1>Do you have a test for that?</h1>

<form action="/test_for_that" method="get">
  <button type="submit" name="choice" id="yes_button" value="yes">YES</button>
  <button type="submit" name="choice" id="no_button" value="no">NO</button>
</form>