@font-face
{
font-family: KaushanScript;
src: url(/img/KaushanScript.otf);
}

html {
  /*color: rgba(185,10,50,1);*/
  color: rgba(230,230,230,1);
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  background: url(/img/bg.jpg);
  background-size: cover;
  height: 100%;
  margin-top: -30px;
}


body {
  margin: 0 auto;
  height:100%;
}

h1 {
  font-family: KaushanScript;
  font-size: 60px;
}

h2, h3,h4 {
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
}

div#box {
  min-width:600px;
  max-width: 800px;
  background: rgba(10,10,10,.9);
  padding-top: 0px;
  margin: 0 auto;
  padding-bottom: 64px;
  height: 85%;
  /*padding-left: 50px*/
}

form {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: rgba(10,10,10,1);
  padding-top: 10px;
}


input {
  border: 0;
  width: 300px;
  line-height: 40px;
  font-size: 20px;
  margin: 20px 10px;
  padding-left: 15px;
}

input:focus {
  outline: none
}

button {
  width: 300px;
  margin: auto;
  line-height: 40px;
  font-size: 20px;
}

button:focus{
  outline: none
}

@media (max-width: 500px) {
      form {
        display: block;
        height: 180px;
      }
      div#box {
        max-width: 200px;
      }
      form img {
        max-width: 200px;
      }
      input,button {
        width: 200px;
      }
      }