<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]" autofocus></p>
  <p>Image: <input type="url" name="ocean[image]"></p>
  <p>Size: <input type="number" name="ocean[size]"></p>
  <p>Continents: <input type="text" name="ocean[continents]"></p>
  <p>Year Discovered: <input type="number" name="ocean[year_discovered]"></p>
  <p>Nickname: <input type="text" name="ocean[nickname]"></p>
  <p>Percentage: <input type="number" name="ocean[percentage]"></p>
  <p><button type="submit">Add Ocean</button></p>
</form>