<form action="/" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="brand">Brand:</label>
  <input type="text" id="brand" name="brand">
  <label for="type">Type:</label>
  <input type="text" id="type" name="type">
  <label for="size">Size:</label>
  <input type="text" id="size" name="size">
  <label for="image">Image:</label>
  <input type="text" id="image" name="image">
  <label for="name">Fit:</label>
  <select >

  <button>Add new item of clothing</button>
</form>