<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/noramlize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Receipt Database</title>
</head>
<body>
<header>
  <h1><a href="/">All the Money</a></h1>
</header>
<nav>
  <a href="/new">New Receipt</a>
</nav>
<section>
  <%= yield %>
</section>
<div class="squirrel">
  <div class="bubble">
    <p>Hi I'm SQL Squirrel!</p>
  </div>
  <img src="/images/squirrel.png" alt="squirrel">
</div>
</body>
</html>