<h1>Select a new feature to implement</h1>

	<form action="/new_feature" method="get">
	<div class="button"> 
	 	<button type="submit" class="one_button" name="choice" value="continue">Continue</button>
	 </div>
	</form>