<h1> Does the test pass?</h1>

<form action="/pass" method="get">
	<div class="button"> 
	  	<button type="submit" class="left_button" name="choice" value="yes">Yes</button>
	 	<button type="submit" class="right_button" name="choice" value="no">No</button>
	</div>
</form>
