<h1> Need to refactor?</h1>

<form action="/refactor" method="get">
	<div class="button">
		 <button type="submit" class="left_button" name="choice" value="yes">Yes</button>
	 	<button type="submit" class="right_button"　name="choice" value="no">No</button>
	 </div>
</form>