<h1> Do you have a test for that</h1>

<form action="/" method="get">

	<div class="button"> 
		<button type="submit" class="left_button" name="choice" value="yes">Yes</button>
	 	<button type="submit" class="right_button"　name="choice" value="no">No</button>
	 </div>
</form>


