<h1> Write just enough code for the test to pass.</h1>

<form action="/write_code" method="get">
	<div class="button"> 
	 	<button type="submit" class="one_button" name="choice" value="done">Done</button>
	</div>

</form>