<div id="index">
  <h1>SteakloCAL</h1>
  <h2>Rate and track your steakhouse experiences</h2>
  <a href="/steakhouse/new"><button>Rate</button></a>
  <a href="/steakhouse"><button>View</button></a>
</div>