<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MEMETUBE</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="wrap">
  <header>
    <h1 class="topbar"><a href="/">MEMETUBE</a></h1>
      <nav>
        <ul>
          <li><a href="/videos">Newest</a></li>
          <li><a href="#">Genres</a>
            <ul>
              <% @genres.each do |genre| %>
                <li><a href="/videos/genres/<%= genre['genre'] %>"><%= genre['genre'] %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>
  </header>
    <div class="vidfeed">
    <%= yield %>
    <footer>&copy;MEMETUBE 2014</footer>
    </div>

  </div>
</body>
</html>