body {
  color: white;
  background: black;
  text-align: center;
  font-family: arial;
}
h1 {
  background: rgba(50,50,50,1);
  border-radius: 10px;
  max-width: 500px;
  margin:0 auto;
}

nav {
  text-align: center;
}

nav a {
  color: white;
  font-style:
}

form {
}