/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	font-family: "Times New Roman", serif;
}

h1{
	font-size: 40px;
	font-family: "Times New Roman", serif;
	color: #A3A093;
	margin-bottom: 10px;
}

#top_photo{
	margin-top:-1px;
}

h3{
	font-size: 17px;
	letter-spacing: 0.01em;
	color:#66645C;
	padding:2px;

}
#container{
	width:960px;
	height:auto;
	margin: 0 auto;
}


#small_title{
	font-size: 12px;
}

p{
	font-size: 12.5px;
	color: #A3A093;
}

a{
	color:#4BA9D8;
	text-decoration: none;
}

.contents{
	margin-top:3px;
 	padding: 1px;
 	
 	line-height: 160%
}

.link{
	border:5px solid #A5A8A7;
}

#copyright{
	margin-top: -1px;

}