<form action="/" method="post">
  <p>Name: <input type="text" name="mountain[name]" autofocus></p>
  <p>Image:<input type="URL" name="mountain[image]"></p>
  <p>Height:<input type="text" name="mountain[height]"></p>
  <p>First Climb:<input type="text" name="mountain[first_climb]"></p>
  <p>Country:<input type="text" name="mountain[country]"></p>
  <p><button>MOVE MOUNTAINS</button></p>
</form>