nav {
  text-align: center;
  font-family: serif;
  padding: 10px;
  margin: 0 30px 30px 30px;
  background: rgba(127, 117, 94, 0.3);
  border-radius: 1em;
}

nav ul {
  display: inline-block;
}

nav li, a{
  color: #AC9D8F;
  margin: 5px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  display: inline;
}

nav .blank{
  margin-right: 400px;
}
