<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet" type="text/css">
</head>

  <body>
    <h1> Movie Search</h1>
    <nav>
    <a href="/">Movie  Searching</a>

    </nav>
    <%= yield %>
  </body>
</html>