.station-box {
  box-sizing: border-box;
/*  border: 1px dashed blue;*/
  border-radius: 25px;
  line-height: 1.5em;
  background-color: #2360a5;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px
}

/* ============ STATION CIRCLES AND MAPS ============ */

label.station-input {
  font-weight: bold;
}

#map {
  position: relative;
  width: 400px;
  height: 375px;
  margin-left: 75px;
}

.station_circle {
  box-sizing: border-box;
  background-color: blue;
  font-weight: bold;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow-y: visible;
  white-space: nowrap;
  position: absolute;
}

.st_name {
  font-size: 12px;
  padding-left: 40px;
}

.unionsquare p.st_name {
  line-height: 12px;
  padding-left: 2px;
  text-align: center;
}

.circle-L p.st_name {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.circle-N {
  background-color: rgba(251,243,7,.25);
  box-sizing: border-box;
  left: 100px;
  }

.circle-6 {
  background-color: rgba(27,114,63,.25);
  box-sizing: border-box;
  left: 200px;
}

.circle-L {
  background-color: rgba(205,197,191,.25);
  box-sizing: border-box;
  top: 240px;
}

.circle-N._4 {left: 75px;}
.circle-N._1 {left: 125px;}
.circle-N._-1 {left: 125px;
}

.circle-L._2 {left: -20px;}
.circle-L._1 {left: 60px;}
.circle-L._-1 {left: 270px;}
.circle-L._-2 {left: 350px;}

.circle-N._4, .circle-6._4 {top: 0px;}
.circle-N._3, .circle-6._3 {top: 60px;}
.circle-N._2, .circle-6._2 {top: 120px;}
.circle-N._1, .circle-6._1 {top: 180px;}
.circle-N._0, .circle-6._0 {top: 240px;}
.circle-N._-1, .circle-6._-1 {top: 300px;}
.circle-N._-2, .circle-6._-2 {top: 360px;}

.unionsquare {
  box-sizing: border-box;
  background-color: rgba(128,0,128,.25);
  border-radius: 10px;
  width: 105px;
  top: 240px;
  left: 128px;
}

.unionsquare.selected {
  box-sizing: border-box;
  border: 1px solid blue;
  background-color: rgba(128,0,128,1);
}

.circle-L.selected {
  box-sizing: border-box;
    border: 1px solid blue;
  background-color: rgba(205,197,191,1);
}

.circle-6.selected {
  box-sizing: border-box;
    border: 1px solid blue;
  background-color: rgba(27,114,63,1);
}

.circle-N.selected {
  box-sizing: border-box;
    border: 1px solid blue;
  background-color: rgba(251,243,7,1);
}

/* ================================================== */
/* ============ STATION CIRCLES AND MAPS ============ */
/* ================================================== */

.v-line {
  background-color: rgba(255,255,255,.25);
  width: 3px;
  height: 23px;
  position: absolute;
}

/* ============ Line 6 connectors ============ */

.six.one, .six.two, .six.three, .six.four, .six.five {
  left: 216px;
}

.six.one {top: 36px;}
.six.two {top: 96px;}
.six.three {top: 156px;}
.six.four {top: 216px;}
.six.five {top: 276px;}

/* ============ Line L connectors ============ */

.n.one {
  height: 26px;
  top: 33px;
  left: 107px;
  -webkit-transform: rotate(-28deg);
  -moz-transform: rotate(-28deg);
  -o-transform: rotate(-28deg);
  -ms-transform: rotate(-28deg);
 }

.n.two {top: 96px; left: 116px;}
.n.three {
  height: 26px;
  top: 155px;
  left: 127px;
  -webkit-transform: rotate(-28deg);
  -moz-transform: rotate(-28deg);
  -o-transform: rotate(-28deg);
  -ms-transform: rotate(-28deg);
  }
.n.four {
  height: 23px;
  top: 216px; 
  left: 141px;
  }
.n.five {
  height: 23px;
  top: 276px;
  left: 141px;
}


.l {
  height: 3px;
  width: 40px;
  top: 255px;
  left: 17px;
}

.l.two {width: 30px; left: 97px;}
.l.three {width: 33px;left: 235px;}
.l.four {left: 307px;}
