<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Butterflies</title>
    <link rel="stylesheet" href="/css/style.css">
 <!--    <link rel="stylesheet" href="css/layout.css"> -->
</head>

  <body>
    <h2>Australian</h2>

      <h1> Butterflies</h1>
    <nav>
        <a href="/map">HOME</a>
        <a href="/butterflies">DISPLAY  </a>
        <a href="/butterflies/new">NEW  </a>
        <a href="/map">MAP</a>
    </nav>
    <div id="container">
    <div>
      <%= yield %>
    </div>

  </body>
</html>