<p id="map_info">Australia has more than <strong>400 species of butterflies</strong>, the majority of which are continental species,<br/> and more than a dozen endemic species from remote islands administered by various Australian territorial governments.</p>
<h3>Please Click <span>'Victoria'</span> or <span>'Tasmania'</span> in the map</h3>

<div id="map" style="background: url('http://i.imgur.com/c3TGxnF.gif') no-repeat; width: 400px; height: 400px;">
<a href = "map/victoria" title="List of butterflies of Victoria" style=" backgroud-color:blue; width: 60px; height: 60px; border: 0; position: absolute; bottom: -140px; right: 490px;"></a>
<a href = "map/tasmania" title="List of Butterflies of Tasmania"style="width: 40px; height: 40px; border: 0; position: absolute; bottom: -185px; right: 480px;"></a>
</div>

