<form action = "/" method = "get">
  <input name = "search" placeholder = "Movie">
  <button> Search </button>
</form>

  Title: <%= @data['Title'] %> (<%= @year %>)<br>
  Cast: <%= @actors %><br><br>
  <img src="<%= @poster %>">
