<h1>Welcome, which NYC Subway line would like to go on</h1>

<form action='/list_n' method="get">
<p>line<button>N</button><p>
</form>



<form action='/pass' method="get">
<p>line<button>L</button></p>
</form>

<form action='/pass' method="get">
<p>line<button>S</button></p>
</form>

<form action='/pass' method="get">
<p>Or Quiet<button>Q</button></p>
</form>
