body {
  margin: auto;
  max-width:960px;
  font-family:'helvetica-neue', sans-serif;
  font-weight:100;
}

#posts li {
  cursor: pointer;
}

#posts li:hover {
  color:grey;
}

h1 {
  font-weight:100;
  color:blue;
}