body {
  color: white;
  background: black;
  font-family: arial;
}
/*Main views*/
#container {
  font-size: 1.5em;
}

#input {
  width:15%;
  background: grey;
  padding: 20px;
  vertical-align: top;
  height:100%;
  margin-right: 10px;
  position: fixed;
  display: inline-block;
}

#plotter {
  margin-left: 17em;
  padding-top: 12em;
}
/*Input views*/
label {
  font-size: 2em;
}
select {
  font-size: .8em;
  width: 100%;
}

img {
  border: 1px solid grey;
  z-index: 0;
}
h1 {
  max-width: 500px;
  font-size: 4em;
  padding: 0;
  line-height: 0;
}

nav {
  padding-bottom: 30px;
}

nav a {
  color: white;
  font-size: 1em;
}

input, button {
  font-size: 2em;
}

label {
  display: block;
}

/* For Journey Representation*/

.journey {
  width: 5em;
  text-align: center;
  display: block;
  margin-top: -11.9em;

}
.journey #line-name {
  color: white;
  z-index: 2;
  height: 2.5em;

}

.journey .line {
  width: 5em;
  height: 10em;
  border-radius: 10em 10em 0 0;
  text-align: center;
  color: black;
  margin: -50px auto 0 auto;
  position: relative;
}

/*Color each line*/
.N {
  background: green;
}

.L {
  background: blue;
}

.L6 {
  background: red;
}

.Seven {
  background: purple;
}

.station_name {
  height: 5em;
  width: 100%;
  border-radius: 10em;
  background: white;
  position: absolute;
  display: table;
  z-index: 1;
}

.station_text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: black;
}
