@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
  font-family: 'Amatic SC', Arial, sans-serif;
  font-weight:300;
  color: #57575C;
}

.container {
  width:100%;
  height:100%;
  box-sizing:border-box;
  text-align: center;
}

.content {
  margin:100px auto;
}

header{
  background:#FFF;
  border-bottom:1px solid #ccc;
}


h1 {
  font-family: inherit;
  font-weight:400;
  font-size: 40px;
  color:#57575C;
  width:auto;
  display:block;
}

header h1 {
  font-size: 80px;
  padding:0;
}

header h2 {
  margin:10px auto;
}


a {
  text-decoration: none;
  color:inherit;
}

a:hover {
  color:#EF504F;
}


.results p {
  line-height: 1em;
}

/*Search Input*/
form {
  margin:10px auto;
  text-align:center;
  display:inline-block;
}

button {
  padding:10px;
  font-family: inherit;
  font-weight:100;
  font-size: 18px;
  color: #FFF;
  border-radius: 5px;
  display:inline-block;
  margin: 0 10px;
  width:100px;
}

button[value="yes"]{
  background-color: #84CDC2;
  border:1px solid #84CDC2;
  box-shadow:4px 4px 0px #67A198;
}

button[value="no"]{
  background-color: #F06A6A;
  border:1px solid #F06A6A;
  box-shadow:-4px 4px 0px #EF504F;
}


button[value="yes"]:hover{
  box-shadow:2px 2px 0px #67A198;
  position:relative;
  left: 2px;
  top: 2px;
}

button[value="no"]:hover{
  box-shadow:-2px 2px 0px #EF504F;
  position:relative;
  left: -2px;
  top: 2px;
}

label {
  display:inline-block;
  margin:40px;
}

select {
  background-color: #FFF;
  border:1px solid #ccc;
}
