<div id="search">
  <form action="/movie/result_list" method="get">
  <input name="title" placeholder =" Enter The Movie Title, Please">
  <button> Search! </button>
  </form>

  <form action="/movie/quick_result" method="get">
  <input name="title" placeholder =" Quick Searching - Type Title!">
  <button> Quick! </button>
  </form>

</div>