<form action="/eaters" method="post">
  <label for="name">Name:
    <input type="text" id="name" name="name">
  </label>

  <label for="area">Area:
    <input type="text" id="area" name="area">
  </label>

  <label for="phone">Phone:
    <input type="text" id="phone" name="phone">
  </label>

  <label for="url">Url:
    <input type="text" id="url" name="url">
  </label>

   <label for="category">Category:
    <input type="text" id="category" name="category">

  </label>
   <label for="rating">Rating:
    <input type="text" id="rating" name="rating" min="0" max="5">

  </label>

   <label for="review">Review:
    <textarea id="review" name="review">
  </textarea>

<label for="image">Image(url):
    <input type="text" id="image" name="image">
  </label>

  <button type="submit">Upload</button>
</form>