<h2>Home</h2>

<form action="/stock" method="get">
  <label for="stock">Stock: </label>
  <input type="text" id="stock" name="stock">
  <button>Stock Go</button>
</form>

<form action="/movie" method="get">
  <label for="movie">Movie: </label>
  <input type="text" id="movie" name="movie">
  <button>Movie Go</button>
</form>