<h1>Do you have a test for that?</h1>
<div class="choice-box">
  <form action="/pass" method="get">
    <button type="submit" class="yes">Yes</button>
  </form>

  <form action="/write_test" method="get">
    <button type="submit" class="no">No</button>
  </form>
</div>