body {
  color: white;
  background: black;
  font-family: arial;
}

#container {
}

#input {
  width:15%;
  background: grey;
  padding: 20px;
  vertical-align: top;
  height:100%;
  margin-right: 10px;
}
#input input{
  width: 90%;
}
#poster_select {
  max-width:74%;
}
#input, #poster-select, #info{
  display: inline-block;
}
img {
  border: 1px solid grey;
  z-index: 0;
}
h1 {
  max-width: 500px;
  font-size: 4em;
  padding: 0;
  line-height: 0;
}

nav {
  padding-bottom: 10px;
}

nav a {
  color: white;
  font-size: 1em;
}

input, button {
  font-size: 2em;
}

#poster-select {
  display: inline-block;
  width: 70%;
}
#poster-select img {
  height: 200px;
  vertical-align: top;
}
#poster-select img:hover{
  height: 500px;
  margin: -50px;
  z-index: 1;
}
#info p {
  font-size: 2em;
}
#info img {
  height: 800px;
}