<form action="/videos" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <label for="description">Description:</label>
  <textarea name="description" id="description" name="desciption"></textarea>
  <label for="url">URL:</label>
  <input type="URL" name="url" id="url">
  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre">
  <button type="submit">Add video</button>
</form>