<div class="vidform">
  <form action="/videos" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">
    <label for="url">URL:</label>
    <input type="URL" name="url" id="url">
    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre">
    <label for="description">Description:</label>
    <textarea name="description" id="description" name="description"></textarea>
    <br>
    <button type="submit">Post video</button>
  </form>
</div>


<% @videos.reverse.each do |video|%>
  <li>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/<%= video['url'][-11..-1] %>" frameborder="0" allowfullscreen></iframe><br>
  <a href="/videos/<%= video['id']%>"><%= video['title'] %></a>
  </li>
<% end %>