<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]" autofocus></p>
  <p>Zone: <input type="text" name="ocean[one]"></p>
  <p>Image: <input type="url" name="ocean[image]"></p>
  <p>Depth: <input type="text" name="ocean[ocean]"></p>
  <p>Climate: <input type="text" name="ocean[climate]"></p>
  
  <p><button>Ocean me</button></p>
</form>