<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <h1>Movie Poster Finder</h1>
<nav>
  <a href="/fetch">Search new movie</a>
</nav>
<body>
  <div class = "results">
    <%= yield %>
  </div>
  <div class = "lorem">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, modi, vero, officiis iste commodi deserunt unde culpa eveniet facere minima aspernatur voluptate officia repudiandae expedita eius ipsum voluptatibus. Maxime, rem.</p>
  </div>
</body>

</html>